body {
    background-color: #040404 !important;
    color: white !important;
    display: grid;
    grid-template-columns: 0.8fr 10fr;
    gap: 10px;
    overflow: hidden;
    margin: 10px !important;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: white;
        top: 0;
        left: 0;
        filter: blur(100px);
        opacity: 0.8;
    }
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: unset;
    }

    .navbar {
        position: fixed;
        z-index: 20;
        bottom: 10px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.4) !important;
        flex-direction: row !important;
        padding: 20px !important;
        gap: 50px !important;
        backdrop-filter: blur(5px);
        transform: translateX(-50%);
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 640px) {
    .banner {
        .image {
            border-radius: 7px 7px 0px 0px !important;
            position: relative;
        }

        .text {
            position: relative !important;
            background: none;
            border-radius: 0px 0px 7px 7px;


            .content {
                margin-bottom: 70px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .main {
        padding: 10px !important;

        .banner .logo {
            position: static;
            padding: 10px;
        }
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        gap: 30px !important;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        gap: 20px !important;

        ion-icon {
            font-size: 1.7em !important;
        }
    }
}